
@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="welcome-header" class="col-md-12">
        <h2>Welcome</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/welcome/Hosting.jpg" />
            <div class="caption">
                <h3>POC Library</h3>
                <p>Working examples of Proof of Concepts & Articles</p>
                <p><a href="#" class="btn btn-primary" role="button">Enter</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/welcome/Scheduled-Notifications.jpg" />
            <div class="caption">
                <h3>Notifications</h3>
                <p>What's New since your last login</p>
                <p><a href="#" class="btn btn-primary" role="button">Enter</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/welcome/references.jpeg" />
            <div class="caption">
                <h3>References & Interesting Reads</h3>
                <p>Some interesting Websites & Articles worth sharing</p>
                <p><a href="#" class="btn btn-primary" role="button">Enter</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/welcome/blog.jpeg" />
            <div class="caption">
                <h3>Ping() Me</h3>
                <p>Participate in my Blogs, contact me</p>
                <p><a href="#" class="btn btn-primary" role="button">Enter</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/images/welcome/About.jpg" />
            <div class="caption">
                <h3>Info</h3>
                <p>Information & Analytics on this website</p>
                <p><a href="#" class="btn btn-primary" role="button">Enter</a></p>
            </div>
        </div>
    </div>
</div>


